# Results of preliminary imaging tests and checks against other acquisition tools 
This file contains results of imaging tests, performed with _EWF Acquire GUI_ and compared with other tools (to check it is imaging correctly).

Test imaging was performed using a 16GB USB stick, connected via a Write Blocker.

Hash results from _EWF Acquire GUI_ imaging log:
```
MD5 hash calculated over data:		85963472421891c9ce37d965fa76a226
SHA1 hash calculated over data:		44314d30e3f93173aab926d7e3a58f0c4f5a0769
```
Hash results from _FTK Imager_ (Exterro) imaging log:
```
Acquisition MD5 Hash     : 85963472421891c9ce37d965fa76a226
Acquisition SHA1 Hash    : 44314d30e3f93173aab926d7e3a58f0c4f5a0769
```
Hash results from _FEX Imager_ (GetData) imaging log:
```
[Computed Hashes]
 MD5 checksum:    85963472421891c9ce37d965fa76a226
 SHA1 checksum:   44314d30e3f93173aab926d7e3a58f0c4f5a0769
```
# .
